.wrapper {
    width: 350px;

}

.header {
    background-color: #008B66;
    color: white;
    padding: 10px;
    text-align: center;
    &__p{
        margin: 0px;
    }
}

.main {
    background-color: #DFE6E1;
    padding: 10px;
    margin-left: 20px;
    margin-top: -10px;
    &__p{
        margin: 0px;
        font-size: 13px;
        line-height: 15px;
    }
}